<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <form>
            <label>Nome:</label><input type="text" name="" value="" /><input type="submit" value="Seleciona"/>
            <table border="1" class="tabela left">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Fabio</td>
                        <td>12341234</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Isabela</td>
                        <td>98769876</td>
                    </tr>
                </tbody>
            </table>

        </form>
    </body>
</html>
