<html>
    {include file='comuns/head2.html' title='xuxu'}
    <body>
        <div id="pagina">
            <div id="esquerda">    
                {include file='comuns/esquerda.html'} 
            </div>
            <div id="direita">
                <div class="topo">
                    {include file='comuns/topo.html'} 
                </div>		
                {include file='comuns/info.html'} 

                <div id="conteudo">
                    <div class="painel_basico">
                        Painel Basico
                    
                    <!--conteudo-->    

                    <a class="box_home" href="index.php?op=sup_mcf&op2=lis_forn">Listar Fornecedor<br /><br />
                        <img src="/files/imagens/icones/clientes.gif" title="Listar Fornecedor" border="0" /></a>	
                    <a class="box_home" href="index.php?op=sup_mcf&op2=lis_forn&tipo_rel=inativos">Fornecedores inativos<br /><br />
                        <img src="/files/imagens/icones/clientes.gif" title="Listar Fornecedor inativos" border="0" /></a>	
                    <!--Fim do conteudo--> 
                    </div>
                </div>	   
            </div>		
        </div>
    </body>
</html>

