<!--
Gerado pelo Framework Tools 1.0
Classe: Viewer
-->

<div class='container_padrao'>

<h1>supervisor</h1>

<p>
Mude o conteudo do arquivo :supervisor.

:) Good Luck!
 
</p>
<form id="my_cad_form_foo" name="my_cad_form_foo">
<label for="SUPCOD">SUPCOD</label><input id="SUPCOD" name="SUPCOD" value="{$registro.SUPCOD}"><br>
<label for="SUPNOM">SUPNOM</label><input id="SUPNOM" name="SUPNOM" value="{$registro.SUPNOM}"><br>
<button id="btn_salvar1" name="btn_salvar1" onclick="btn_salvar1click()">Salva FOO</button>
</form>

</div>