<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{$title}</title>
{$head}
<!--[if lt IE 7]><link href="style_ie.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<body id="page1">
<div id="main">
  <!-- header -->
  <div id="header">
    {$menu}
    <div class="logo"><a href="#"><img src="/files/images/logo.gif" alt="" /></a></div>
  </div>
  <!-- content -->
  <div id="content">
    <div class="indent1">
      <div class="indent">
        <h2>Welcome to Sistema X!</h2>
        <h3>Sistema X is a free websites template created by Templates.com team. This website template is optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid.</h3>
        <p>The website template goes with two packages – with PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD is available for anyone without registration).</p>
      </div>
      <h2>Recent Articles</h2>
      <ul class="list">
        <li><a href="#">Sistema X</a><br />
          From our site you will learn interesting facts about Sistema X and its inhabitants. Your journey starts here!</li>
        <li><a href="#">Sistema X Template</a><br />
          Free 1028X768 Optimized Website Template from Templates.com! We really hope that you like this template and will use for your websites.</li>
        <li><a href="#">Travel to the Sistema X</a><br />
          The captivating stories about the journey to the Sistema X you can read in this sample article.</li>
      </ul>
    </div>
  </div>
  <!-- footer -->
  {$rodape}
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
