<!DOCTYPE html>
<html lang="pt-br">
  {$head}
  <body>
    {$header}
    <div class="container">
      <!--          inicio do Conteudo-->    
      <div class="starter-template">
        <h1>Titulo</h1>  
        <fieldset class="form-inline">
          <legend>Buscar</legend>

          <div class="form-group col-6">
            <label class="sr-only" for="usuarios_busca_texto">Texto:</label>    
            <input type="text" name="usuarios_busca_texto" id="usuarios_busca_texto" class="form-control"   placeholder="Escreva algo para a busca"/>

          </div>          


          <input type="button" class="btn btn-default" value="buscar" 
             id="btn_usuarios_buscar" 
             name="btn_usuarios_buscar"
             onclick="busca_usuarios()"/>

        </fieldset>      
    
  
  <div class="alinha_esquerda">
    <br> 
    <a href='/sistemax/usuarios/novo_usuarios'  class="btn btn-default">Novo usuarios</a>
  </div>
  <br>
  
        <table name="lista_retorno" class="table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>cod</th>
              <th>nome</th>
              <th>Ação</th>
            </tr>
          </thead>      
          <tbody>
        {include file="usuarios/grid_usuarios.tpl" usuarios_lista=$usuarios_lista}
      </tbody>      
        </table>   
      </div>
      <!--          Fim do Conteudo-->
    </div><!-- /.container -->      
  </body>
</html>